.region-filter{
    position: relative;
    color: black;
    width: 10.9rem;
}
.toggle-regions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: .7rem 1rem;
    cursor: pointer;
    border-radius: 7px;
}
.regions{
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: .3rem;
    border-radius: 7px;
    overflow: hidden;
}
.region{
    cursor: pointer;
    transition: background-color .3s ease;
    padding: .3rem 1rem;
}
.region:hover{
    background-color: aliceblue;
}

