*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
    min-height: 100vh;
    background-color: white;
    color: black;
}

.App.dark header{
    background-color: rgb(32, 32, 32);
    color: white;
}
.items{
    padding: 0 3rem;
    background-color: hsla(0, 3%, 94%, 0.877);
    min-height: calc(100vh - 69px);
}
.App.dark .items{
    background-color: hsla(0, 0%, 0%, 0.938);
}

.App.dark .items .filter-div .region-filter .toggle-regions{
    background-color: hsl(0, 14%, 95%);
}
.App.dark .items .filter-div .region-filter .regions{
    background-color: hsl(0, 14%, 95%);
}
.App.dark .items .countries .country{
    background-color: hsl(0, 14%, 95%);
}
.filter-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.dark .items .nomatch{
    color:white;
}
.loading{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @media(max-width:600px){
    .filter-div{
        align-items: flex-start;
        flex-direction: column;
        /* margin-left: 40%;
        transform: translateX(-50%); */
    }
    .region-filter{
        margin-top: 1rem;
    }
    header h2{
        font-size: 1.1rem;
    }
    header div{
        font-size: 13px;
    }
    .toggle-regions{
        font-size: 13px;
    }
    .region{
        font-size: 13px;
    }
  }